@media (min-width: 1280px) {
    #main-wrapper[data-layout=vertical][data-sidebartype=full] .page-wrapper {
        margin-left: 260px;
    }
}

.card-hover:hover {
    transform: scale(1.1);
}

.card-hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.search-bar {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.search-bar:hover {
    transform: scale(1.1);
}
